<div class="logo">
  <a class="logo__link" href="/" aria-label="Home"></a>
  <div class="logo__tagline">
    <span>Проектирование</span>
    <span>Изготовление</span>
    <span>Монтаж</span>
  </div>
</div>
