.header__inner {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  /* align-content: center; */
  align-items: center;
}

@media (width < 1024px) {
  .header__inner {
    align-items: end;
    height: 30px;
    padding: 12px 20px 18px;
  }

  .header__menu-checkbox {
    position: relative;
    z-index: 2;
  }

  .header:has(.header__menu-checkbox:not(:checked)) .menu {
    display: none;
  }
}

@media (width >= 1024px) {
  .header__inner {
    padding: 25px 20px 55px;
  }

  .header__menu-checkbox {
    display: none;
  }
}
