[class$="__nav-list"] {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.menu__item:nth-child(3) {
  order: 1;
}

.menu__item:nth-child(5) {
  order: 2;
}

@media (width < 1024px) {
  .menu__nav-list {
    display: grid;
    justify-items: center;
    place-self: center;
    row-gap: 20px;
    font-size: var(--font-size-larger);
  }
}

@media (width >= 1024px) {
  .menu {
    display: flex;
    column-gap: 4.5rem;
  }

  .menu__nav-list {
    display: flex;
    column-gap: 2.25rem;
  }
}
